<!DOCTYPE HTML>
<html>
<head>
  <title>木料库-找木料、更安全、更快捷、更便宜</title>
  <!-- 新 Bootstrap 核心 CSS 文件 -->
  <!--<link rel="stylesheet" href="http://cdn.bootcss.com/bootstrap/3.3.2/css/bootstrap.min.css">-->

  <!-- jQuery文件。务必在bootstrap.min.js 之前引入 -->
  <!--<script src="http://cdn.bootcss.com/jquery/1.11.2/jquery.min.js"></script>-->

  <!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
  <!--<script src="http://cdn.bootcss.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>-->

  <!-- 自定义Web CSS文件 -->
  <link rel="stylesheet" href="/css/base.css">
  <link rel="stylesheet" href="/css/common.css">
  <link rel="stylesheet" href="/css/member.css">
</head>
<body>

## header
	#parse("/template/header.vm")

## main container
<div class="main">
  <div class="member-body">
    <div class="member-nav">
      您当前的位置：
      <a class="item" href="/">木料库首页</a>
      <span class="item"> >></span>
      <span class="item">会员中心</span>
      <span class="item"> >></span>
      <span class="item">账户安全</span>
    </div>
    <div class="member-main">
    ## member menu
      #include("template/member-menu.vm")

      <div class="member-page">
        <div class="profile-main">
          <div class="profile-header">
            <span class="profile-header-title">账户安全</span>
          </div>
          <div class="profile-body">
            <div class="profile-body-header">修改密码</div>
            <div class="first">
              <span class="password-item">旧密码：</span>
              <input class="password-input" type="password"/>
            </div>
            <div>
              <span class="password-item">新密码：</span>
              <input class="password-input" type="password"/>
            </div>
            <div>
              <span class="password-item">确认密码：</span>
              <input class="password-input" type="password"/>
            </div>
            <button class="password-save">保存</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

## footer
  #include("template/footer.vm")
</body>
</html>
