<div class="footer" style="position: relative;">
  <div>
    <a href="">关于我们</a>
    |
    <a href="">法律声明</a>
    |
    <a href="">隐私条款</a>
    |
    <a href="">人才招聘</a>
    |
    <a href="">联系我们</a>
    |
    <a href="">网站统计</a>
  </div>
  <div>北京木料库电子商务有限公司  版权所有©2015  京备xxxxxxxx号  All Rights Reserved.</div>
</div>
