.market-container {
  width: 1190px;
  margin: 0 auto;
  position: relative;
  color: #666;
  font-family: '微软雅黑','Microsoft Yahei',sans-serif;
}

.market-container .title {
  height: 30px;
  line-height: 30px;
  margin-top: 30px;
}

.market-container .title .name {
  font-size: 16px;
  font-weight: 700;
  width: 80px;
  float: left;
}

.market-container .title .name label {
  color: #ffb200;
}

.market-container .title .yellow {
  color: #ff7800;
}

.market-container .market-search-panel {
  border: 2px solid #ffb200;
  padding: 0 12px;
  margin-top: 5px;
}

.market-container .search-form {
  border: 0;
  width: 100%;
  font: 12px/1.5 tahoma,arial,'Hiragino Sans GB','微软雅黑','宋体',sans-serif;
}

.search-form .search-form-row {
  border: 0;
  border-bottom: 1px solid #e3e3e3;
}

.search-form .search-form-row:after {
  clear: both;
  content: " ";
  display: block;
  height: 0;
}

.market-container .search-form .label {
  color: #444;
  font-size: 14px;
  float: left;
  padding: 15px 0 0;
  text-indent: 45px;
  width: 10%;
}

.market-container .search-form .values {
  background-color: #fff;
  float: left;
  overflow: hidden;
  padding: 14px 0;
  position: relative;
  width: 90%;
}

.market-container .search-form .values .value {
  height: auto;
}

.market-container .search-form .values ul {
  list-style: none;
  margin: 0 105px 0 25px;
  position: relative;
}

.market-container .search-form .values ul li {
  margin: 0 25px 0 0;
  float: left;
  height: 25px;
  line-height: 25px;
}

.market-container .search-form .values ul li a {
  cursor: pointer;
  color: #806f66;
  display: inline-block;
  height: 20px;
  line-height: 20px;
  padding: 1px 4px 1px 4px;
  position: relative;
  white-space: nowrap;
  outline: 0;
  text-decoration: none;
}

.market-container .search-input {
  padding: 20px 0;
  line-height: 25px;
  height: 30px;
}

.market-container .market-search-panel .search-input .title:first-child {
  margin-left: 0;
}

.market-container .market-search-panel .search-input .title {
  float: left;
  margin: 0 15px;
  height: 30px;
  line-height: 30px;
  display: inline-block;
}

.market-container .market-search-panel .search-input .content {
  float: left;
  margin-right: 55px;
  width: 160px;
  text-indent: 5px;
  outline: 0;
  border: 1px solid #e3e3e3;
  height: 16px;
  font-size: 12px;
  line-height: 20px;
  padding: 7px 0;
}

.market-container .market-search-panel .search-input .market-search-btn {
  display: inline-block;
  border-radius: 2px;
  float: right;
  width: 80px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  color: #fff;
  cursor: pointer;
  background: #ffb200;
}

.market-post-main {
  width: 1190px;
  margin: 18px auto;
  font-size: 12px;
  color: #666;
  overflow: hidden;
}

.market-post-main .left {
  float: left;
  padding: 12px 14px;
  background: #fff;
  width: 850px;
  font-weight: 700;
  border: solid 1px #e3e3e3;
}

.market-post-main .left .title {
  font-size: 16px;
}

.market-post-main .left .title span {
  color: #ffb200;
}

.market-post-main .left .all-wraps {
  margin-top: 10px;
  padding-left: 10px;
}

.market-post-main .left .all-wraps .items-wrap {
  width: 275px;
  float: left;
  margin: 10px 0;
  font-size: 12px;
  color: #333;
}

.market-post-main .left .all-wraps .items-wrap .name {
  color: #333;
  height: 35px;
  line-heith: 35px;
  margin: 0 2px;
  width: 70px;
  text-align: right;
  display: inline-block;
}

.market-post-main .left .all-wraps .items-wrap .name .red {
  color: #f00;
  /*margin: 0 3px;*/
}

.market-post-main .left .all-wraps .items-wrap .input-item.apply {
  width: 144px;
  height: 36px;
}

.market-post-main .left .all-wraps .items-wrap .input-item {
  text-indent: 5px;
  width: 140px;
  height: 22px;
  padding: 6px 0;
  border: solid 1px #e3e3e3;
  outline: 0;
}

.market-post-main .left .all-wraps .foot {
  padding-left: 78px;
  width: 200px;
  margin: 14px 0;
}

.market-post-main .left .all-wraps .foot .btn {
  border-radius: 2px;
  cursor: pointer;
  width: 140px;
  height: 40px;
  line-height: 40px;
  font-size: 16px;
  color: #fff;
  text-align: center;
  background: #8A0A16;
  border: 0;
}

#market-content {
  margin: 0;
  padding: 0;
}

.order-bar {
  margin-top: 50px;
  position: relative;
  height: 35px;
  line-height: 35px;
  background: #f7f7f7;
  border: solid 1px #e3e3e3;
  border-top: solid 2px #ff7800;
}

#market-content .order-bar .choose {
  float: left;
  cursor: pointer;
  position: relative;
  display: inline-block;
  height: 35px;
  border-right: solid 1px #e3e3e3;
  text-align: center;
  width: 80px;
}

#market-content .order-bar .choose.orange {
  background: #fff;
  color: #ff7800;
}

#market-content .order-bar .up {
  background: url("../images/mar-up.png") -157px -16px no-repeat;
  width: 9px;
  height: 9px;
  display: inline-block;
  position: absolute;
  right: 15px;
  top: 13px;
}

#market-content .market-list {
  border: solid 1px #e3e3e3;
  border-top: 0;
}

#market-content .market-list .market-list-header {
  height: 30px;
  line-height: 30px;
  color: #333;
  font-size: 12px;
  border-bottom: solid 1px #e3e3e3;
}

#market-content .market-list .item {
  display: inline-block;
  float: left;
  height: 100%;
  text-align: center;
}

#market-content .market-list .market-list-main .item {
  height: 60px;
  line-height: 60px;
}

#market-content .market-list .type {
  width: 60px;
}

#market-content .market-list .name {
  width: 120px;
}

#market-content .market-list .texture {
  width: 70px;
}

#market-content .market-list .origin {
  width: 60px;
}

#market-content .market-list .process {
  width: 60px;
}

#market-content .market-list .specification {
  width: 80px;
}

#market-content .market-list .market-list-main .specification {
  width: 80px;
  line-height: 22px;
  margin-top: 8px;
  height: 52px;
}

#market-content .market-list .level {
  width: 70px;
}

#market-content .market-list .market-list-main .level {
  color: #3094ed;
  font-weight: 800;
}

#market-content .market-list .price {
  width: 100px;
}

#market-content .market-list .amount {
  width: 70px;
}

#market-content .market-list .store {
  width: 90px;
}

#market-content .market-list .apply {
  width: 90px;
}

#market-content .market-list .time {
  width: 90px;
}

#market-content .market-list .company {
  width: 218px;
}

#market-content .market-list .market-list-main .company {
  line-height: 22px;
  margin-top: 8px;
  height: 52px;
}

#market-content .market-list .market-list-main .company .company-name {
  color: #ffb200;
}

#market-content .market-list .market-list-main .company .title {
  margin-right: 30px;
}
#market-content .market-list .operation {
  width: 68px;
}


#market-content .market-list .market-list-main .cash {
  background: url("../images/mar-up.png") -39px -19px no-repeat;
  margin: 10px;
  width: 40px;
  height: 40px;
}
