.purchase-main {
  background: #f1f1f1;
  padding-bottom: 10px;
  min-height: 600px;
}

.purchase-main-inner {
  width: 1190px;
  margin: 0 auto;
}

.purchase-main-inner .purchase-left {
  width: 880px;
  float: left;
  margin-top: 12px;
}

.purchase-main-inner .purchase-right {
  float: right;
  width: 300px;
  margin-top: 12px;
}

.purchase-main-inner .purchase-left .search-panel {
  height: 90px;
  background: #fff;
}

.purchase-main-inner .purchase-left .search-panel .title {
  height: 35px;
  line-height: 35px;
  margin-top: 0;
  font-size: 16px;
  padding-left: 16px;
}

.purchase-main-inner .purchase-left .search-panel .title .title1 {
  float: left;
  color: #444;
}

.purchase-main-inner .purchase-left .search-panel .title .title2 {
  float: left;
  color: #ff7800;
}

.purchase-main-inner .purchase-left .search-panel .search-input {
  height: 40px;
  line-height: 40px;
  margin: 5px 0;
  padding: 0 20px;
  color: #666;
}

.purchase-main-inner .purchase-left .search-panel .search-input .text {
  border: 1px solid #dfdfdf;
  width: 130px;
  height: 30px;
  outline: 0;
  text-indent: 5px;
  margin-right: 18px;
}

.purchase-main-inner .purchase-left .search-panel .search-input .search-btn {
  display: inline-block;
  height: 32px;
  line-height: 32px;
  width: 85px;
  text-align: center;
  font-size: 14px;
  color: #fff;
  cursor: pointer;
  background: #7A0A16;
  border: 0;
  margin-top: 3px;
  margin-right: 0;
  border-radius: 2px;
}
